In [2]:
import pandas as pd
import numpy as np

In [11]:
ratings_matrix = pd.read_csv('ratings_matrix.csv').set_index('userId')
ratings_data = pd.read_csv('dataframe.csv').set_index('title')

In [12]:
def movie_recommendations(movie_name):
    user_ratings = ratings_matrix[movie_name]
    correlation_with_movie = pd.DataFrame(ratings_matrix.corrwith(user_ratings))
    correlation_with_movie = correlation_with_movie.join(ratings_data['# of ratings'])
    correlation_with_movie.columns = [f'Corr. With {movie_name}', '# of Ratings']
    correlation_with_movie.index.names = ['Movie Title']
    return correlation_with_movie[correlation_with_movie['# of Ratings'] > 50].sort_values(f'Corr. With {movie_name}', ascending = False).iloc[1:,:].head(10)

In [14]:
d = movie_recommendations('Harry Potter and the Chamber of Secrets (2002)')

/Users/mallorywilson/opt/anaconda3/envs/flatiron/lib/python3.8/site-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/mallorywilson/opt/anaconda3/envs/flatiron/lib/python3.8/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [22]:
for row in d.reset_index().values:
    print(row[0])

Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)
Harry Potter and the Order of the Phoenix (2007)
Harry Potter and the Half-Blood Prince (2009)
Harry Potter and the Goblet of Fire (2005)
Harry Potter and the Prisoner of Azkaban (2004)
Star Trek (2009)
Pretty Woman (1990)
28 Days Later (2002)
How to Train Your Dragon (2010)
Deadpool (2016)

In [10]:
ratings_data.set_index('title').head()

,rating,movieId,userId,# of ratings
title,,,,
'71 (2014),4.0,117867.0,610.0,1
'Hellboy': The Seeds of Creation (2004),4.0,97757.0,332.0,1
'Round Midnight (1986),3.5,26564.0,354.5,2
'Salem's Lot (2004),5.0,27751.0,345.0,1
'Til There Was You (1997),4.0,779.0,229.0,2